#datoscontacto .container{
    text-align: center;
    padding: 100px 12px;
    h2{
        color: $coloracento;
        h4{
            color: black;
            li{
            list-style: none;
            }
        }
    }
}

