#lg-seguros{
    color: rgb(7, 7, 7);
}
#lg-seguros .container{
    text-align: center;
    align-items: center;
    padding: 200px 12px; 
    .color-acento{
        color: $coloracento
    }
}