#quienessomos .container {
    text-align: center;
    padding: 100px 12px;
  }
  
  #quienessomos .container h3 {
    color: #0000d6;
  }
  #quienessomos .container .color-acento{
    color: #0000d6;
  }
  #quienessomos .container span{
    font-weight: bold;
}