#servicioslista .container{
    text-align: center;
    padding: 100px 12px; 
}
.titulo-servicios{
    background-color: #100194;
    margin-top: 20px;
  }
  .titulo-servicios h1{
    color: white;
    text-align: center;
    padding: 10px;
  }